@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: #eb7517;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  list-style-type: none;
  width: 700px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hide,
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn {
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  padding: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.btn-main {
  background-color: #ffffff;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.029) 50%, rgba(0, 0, 0, 0.03) 99%);
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #17b3b2;
}

.btn .text {
  width: 150px;
  text-align: center;
}

.circle {
  /*Do not shrink*/
  min-width: 40px;
  min-height: 40px;
  border-radius: 50% 50%;
  background-color: #17b3b2;
  color: white;
  position: relative;
  right: 0;
}

.circle .fa {
  position: relative;
  top: 0px;
  right: -2px;
}

.popup {
  position: absolute;
  top: -1000px;
  left: 50%;
  width: 700px;
  min-height: 70vh;
  background-color: white;
  color: #34495e;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  box-shadow: 0px 9px 34px 0px rgba(7, 41, 60, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: top 0.5s cubic-bezier(0.13, 0.74, 0, 1.15);
  padding: 10px;
}

.popup.active {
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.btn-popup {
  background-color: #eb7517;
  width: 120px;
  height: 50px;
  color: white;
  border-radius: 25px 25px 25px 25px;
}

.hide {
  position: absolute;
  top: -22px;
  right: -22px;
  width: 45px;
  height: 45px;
  background-color: white;
  color: #eb7517;
  border-radius: 50% 50%;
}

.header,
.result {
  margin-bottom: 20px;
}

.popup pre {
  text-align: left;
}

.code {
  margin-bottom: 20px;
}

.result {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.icon {
  margin-bottom: 20px;
}

/*Success animation*/

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px
  }
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px
  }
  100% {
    stroke-dashoffset: 480px
  }
}

.icon-order-success path {
  animation: checkmark 0.25s ease-in-out .7s backwards
}

.icon-order-success circle {
  animation: checkmark-circle .6s ease-in-out backwards
}